     {% extends 'base.html.twig' %}



   {% block content %}
         <div class="container">
                               
                     <div>
                                                  <h2>Je passe ma commande</h2>
                                                  <p>Confirmer votre liste de courses avant de passer votre commande sur la boutique de Softexcellence</p>
                                                </hr>
                                           </div>

                                            <div>
                                                    <b>Récap de ma commande</b><br/>
                                                    <p>Retrouver le récapitulatif de vos outils</p>
                                            </div>

                                            <div>
                                                                   <!---->
                                                                   <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                
                                                                                <th scope="col">Produit</th>
                                                                                <th scope="col">Description</th>
                                                                                <th scope="col">Quantite</th>
                                                                                <th scope="col">Prix</th>
                                                                                <th scope="col">total</th>
                                                                               
                                                                                </tr>
                                                                            </thead>
                                                                
                                                                
                                                                <tbody>                                                                        
                                                                                    <tr>
                                                                                            <th>
                                                                                            <img src="images/business.jpg" alt="" height="75px"><br/>
                                                                                            </th>
                            
                            
                                                                                            <td>
                                                                                                    rzgrgregergergergreg<br/>
                                                                                                    <small>regregregregregregregergregreg</small> 
                                                                                            </td> 
                            
                                                                                            <td>
                                                                                                            
                                                                                                    1
                                                                                                            
                                                                                            </td>
                                                                                                                            
                            
                                                                                            <td>2344</td>
                                                                                            <td>234 €</td>
                                                                                                                        
                                                                                                                            
                                                                                           
                                                                                
                                                                                    </tr>                                                                     
                
                                                                    </tbody>
                                                                      </table>
                                                                   <!---->
                                            </div>

                                            <div>
                                                <a href="recapitulatif.html" class="btn btn-success btn-block mt-1" style="width: 100%" >Payer ma commande</a>
                                            </div>
       
            </div>   
                    
                    
     {% endblock %}