{% extends 'base.html.twig' %}


{% block title %} Modification - Mot de passe {% endblock %}

{% block content %}

 <style>
 .btn-primary 
 {
    margin-top: 15px;
 }
 </style>


<div class="container">


<div class="alert alert-success" role="alert">
  {{ notification }}
</div>


{{form(form)}}
</div>


{% endblock %}