{% extends 'base.html.twig' %}

{% block title %}Hello ValidationCompteConnexionController!{% endblock %}

{% block content %}

<div class="container" style="width:100%; text-align:center">
{{notification}}
</div>

{% endblock %}
