{% extends 'base.html.twig.html' %}

 {% block content  %}

 <style>
#section_1
{
     padding-bottom: 20px;
     padding-top: 59px;
}
#bl
{
    margin-top: 60px;
}

.card-img-top
{
  width:402px;
}
 </style>

<div id="bl">


<h3>Bienvenue Justin</h3><br/>
  <h6><a href="#">Voir mes outils (2)</a></h6>
             
               
                <div class="row row-cols-1 row-cols-md-3 g-4">                   
                   
                    <div class="col">
                      <div class="card h-100" style="width: 402px;">
                        <img src="{{asset('assets/images/business.jpg')}}" class="card-img-top"  alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        
                        </div>
                        <div class="card-footer">
                            <a href="outils_vba_detail.html" class="btn btn-primary">Voir description</a>
                          <small class="text-body-secondary">Téléchargement gratuit</small>
                       
                        </div>
                      </div>
                      
                     
                    </div>
                    <div class="col">
                      <div class="card h-100" style="width: 402px;">
                      
                        <img src="{{asset('assets/images/business.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        
                        </div>
                        <div class="card-footer">
                            <a href="outils_vba_detail.html" class="btn btn-primary">Voir description</a>
                          <small class="text-body-secondary">13,99 Euros</small>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="card h-100" style="width: 402px;">
                        <img src="{{asset('assets/images/business.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        
                        </div>
                        <div class="card-footer">
                          <a href="outils_vba_detail.html" class="btn btn-primary">Voir description</a>
                          <small class="text-body-secondary">13,99 Euros</small>
                        </div>
                      </div>
                    </div>
                  </div>

<div>


  {% endblock %}