{% extends 'base.html.twig' %}

{% block title %}Softexcellence - Page Achat{% endblock %}

{% block content %}

                <div class="container">

                   <p>Merci pour votre achat sur la boutique de softexcellence de référence {{ numero_commande_session }} <br/> Vous allez recevoir un mail de confirmation</p>

                </div>


{% endblock %}
