{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

 {% block content %}

 <style>
 .btn-primary 
 {
    margin-top: 15px;
 }
 </style>

  <div class="container">

{% if notification  %}
<div class="alert alert-primary" role="alert">
   {{notification}}
</div>
{% endif %}


<h2>Inscription</h2>

{{form(form)}}













    </div>


 {% endblock %}
