{% extends 'base.html.twig' %}

 {% block content %}
                            <div class="container">

                                      <span style="text-align:center;"><p>{{notification}}</p></span>
                        
                            </div>
      {% endblock %}