{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

 {% block content %}

 <style>
 .btn-primary 
 {
    margin-top: 15px;
 }
 </style>

  <div class="container">


<h2>Informations légales</h2>

Raison sociale : Softexcellence<br/>
Forme juridique : SAS<br/>
<!-- Capital social : 120 000 €<br/> -->
<!-- SIREN : 510 706 997 <br/> -->
Responsables : Justin ACKAH</br>
<!-- TVA intracommunautaire : FR 86 510 706 997<br/><br/> -->

Conformément à la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous vous informons que le site internet softexcellence.com est la propriété de Softexcellence . Le site internet www.softexcellence.com a été conçu par la société softexcellence. Le site internet www.softexcellence.com est hébergé sur les matériels informatiques de la société OVH dont le siège social est : 2 rue Kellermann – 59100 Roubaix – France. Le site www.softexcellence.com est régi par le droit français ; les visiteurs ayant accès au site de l’étranger, doivent s’assurer du respect des lois localement applicables. Les mentions légales pouvant être modifiées à tout moment et sans préavis, nous vous engageons à les consulter régulièrement.<br/>



<h2>Propriété intellectuelle</h2>
Softexcellence détient, se réserve et conserve tous les droits de propriété, notamment intellectuelle, y compris les droits de reproduction sur le présent site et les éléments qu’il contient. En conséquence et notamment toute reproduction partielle ou totale du présent site et des éléments qu’il contient est strictement interdite sans autorisation écrite de softexcellence. Les logos et tous autres signes distinctifs contenus sur ce site sont la propriété de Softexcellence ou font l’objet d’une autorisation d’utilisation. Aucun droit ou licence ne saurait être attribué sur l’un quelconque de ces éléments sans l’autorisation écrite de Softexcellence ou du tiers détenteur des droits.

 
<h2>Exclusion de garantie et de responsabilité</h2>
L’utilisateur du site web « www.softexcellence.com » reconnaît avoir pris connaissance des présentes conditions d’utilisation du site et s’engage à les respecter. Softexcellence ne saurait être tenue pour responsable des dommages directs ou indirects qui pourraient résulter de l’accès au site ou de l’utilisation du site et/ou de ces informations, y compris l’inaccessibilité, les pertes de données, détériorations, destructions ou virus qui pourraient affecter l’équipement informatique de l’utilisateur et/ou de la présence de virus sur son site. Bien que Softexcellence s’efforce de fournir un contenu fiable sur son site, il ne garantit pas que son contenu soit exempt d’inexactitudes ou d’omissions et ne saurait être tenu pour responsable des erreurs ou omissions, d’une absence de disponibilité des informations et des services. Softexcellence se réserve à tout moment et sans préavis le droit d’apporter des améliorations et/ou des modifications au contenu de son site. En conséquence, l’utilisateur reconnaît se servir de ses informations sous sa responsabilité exclusive.

 
<h2>Liens vers d’autres sites</h2>
Le site peut inclure des liens vers d’autres sites ou d’autres sources Internet. Dans la mesure où Softexcellence ne peut contrôler ces sites et ces sources externes, Softexcellence ne peut être tenu pour responsable de la mise à disposition de ces sites et sources externes, et décline ainsi toute responsabilité quant aux contenus, publicités, produits, services ou tout autre matériel disponible sur ou à partir de ces sites ou sources externes. Ces liens sont proposés aux utilisateurs du site www.softexcellence.com en tant que service. La décision d’activer les liens vous appartient exclusivement. Nous vous rappelons que les sites non-affiliés sont soumis à leurs propres conditions d’utilisation.

 
<h2>Vie Privée / Protection des données personnelles</h2>
Softexcellence a désigné un Délégué à la Protection des Données (DPO) afin de préserver votre vie privée et la protection de vos données personnelles dans le respect de la réglementation en vigueur. Le rôle du DRPO, est défini par le Règlement Général à la Protection des Données complétant les dispositions de la loi informatique et libertés du 06/01/1978 modifiée et son décret d’application du 20/10/2005.
Concernant les informations à caractère nominatif que vous seriez amenés à nous communiquer, vous bénéficiez d’un droit d’accès, de modification, de rectification et/ou de suppression conformément à la loi relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel n°2004-801 du 6 août 2004. Pour exercer ce droit veuillez adresser un message à Softexcellence – 4 rue des gemeaux cergy.
Chaque internaute dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent. (Art. 34 de la loi « Informatique et Libertés »). Ce droit peut être exercé auprès de : contact@softexcellence.com. Chaque utilisateur peut également adresser à Softexcellence des directives relatives au sort de ses données après son décès.
Les données à caractère personnel collectées sur ce site sont conservées au maximum jusqu’à l’expiration des délais de prescription légaux.











    </div>


 {% endblock %}
